---
layout: default
title: Progress Updates
---

<!-- progress bar should be adapted to cover % space between dates of milestones -->

<div class="timeline">
    <div class="timeline__wrap">
    <div class="timeline__items">
        {% for milestone in site.data.timeline %}
        
        {% if milestone.done %}
            <div class="timeline__item timeline__item__done">
        {% else %}
            <div class="timeline__item timeline__item__not">
        {% endif %}
        

        {% if milestone.done %}
            <div class="timeline__content timeline__content__done">
        {% else %}
            <div class="timeline__content timeline__content__not">
        {% endif %}
            <h2>{{ milestone.title }}</h2>
            <div style="width: 100%; text-align: right; font-size: 0.65em;">due on: {{ milestone.date | date: '%B %d, %Y' }}</div>
            <p style="font-size: 0.8em; text-align: justify;">{{ milestone.description }}</p>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

<script lang="javascript">

    timeline(document.querySelectorAll('.timeline'), {
        mode: 'horizontal', forceVerticalMode: 500, verticalStartPosition: 'left', visibleItems: 5, startIndex: 0
      });
    
    
</script>


{{ content }}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All updates</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in site.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>